
body {
    font-family: 'Lobster', cursive;
    text-align: center;
}


.anime1 {
    border:4px solid #b5b7ba;
    display:block;
    margin:0 auto;
    border-radius: 50%;
}

#content {
    margin: 0 auto;
    text-align: center;
}

#content h1 {
    
    color: #2e353d;
    font-size: 55px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 50px;
}

#content #box {
    background-color: #ffffff;
    margin: auto;
    padding-top: 37px;
    padding-left: 37px;
}

#content #box p {
    color: #202424;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 30px;
}

#content #box input {
    border: 1px solid #a0a0a0;
    background-color: #f5f5f5;
    width: 260px;
    height: 44px;
    padding-left:10px;
     font-size: 35px;
    font-weight: 100;
    margin-bottom: 12px;
    font-family: 'Lobster', cursive;
}

#content #box .button {
    color: #2e353d;
    border: 3px solid #a0a0a0;
    background-color: #f5f5f5;
    width: 320px;
    height: 40px;
    padding-left:10px;
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 12px;
    background-color:  #c0c0c0;
}
#maincont .button {
    color: #2e353d;
    border: 3px solid #a0a0a0;
    background-color: #f5f5f5;
    width: 320px;
    height: 40px;
    padding-left:10px;
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 12px;
    background-color:  #c0c0c0;
}

#content #box .button:hover {
    background-color: #008b8b;
    cursor: pointer;
}

#maincont .button:hover {
    background-color: #008b8b;
    cursor: pointer;
}
.ok {
        color: green;
        font
}
.error {
        color: red;
}
h1 {
    color: #2e353d;
    font-size: 55px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

#noimage {
    display: none;
    position: fixed;
    margin:50% 2%;
    text-align: center;
    transition: 3s linear;
}
#noimage::hover {
    top: 50px;
}


.notxt {
    font-size: 1.8em;
}

#pushfly {
    margin-top: -50px;
    width: 116px;
    height: 91px;

}

#axis:hover .move {
    transform: translate(100px,100px);

}
.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.button {
    border-radius: 5px;
    font-size: 34px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
#background {
    border: 2px solid grey;
    background: url(back.jpg) 100% 100% no-repeat;
    background-size: cover;
    margin: 135px auto;
    height: 600px;
    opacity: 0.5;
    box-shadow: 10px 10px 10px rgba(10,25,50,0.5); 
    padding: 10px;
}
#background {
    border: 2px solid grey;
    background: url(back.jpg) 100% 100% no-repeat;
    background-size: cover;
    margin: 135px auto;
    height: 600px;
    opacity: 0.8;
    box-shadow: 10px 10px 30px rgba(10,25,25,0.5); 
    padding: 10px;
}
#main {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    margin-top: 10%;
}
#mainfinal {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    margin-top: 4%;
}
#maincont .button {
    width: 400px;
}